<div id="welcomeContainer" style="display: none;">
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/logo.png"/>
        
        <!-- Titre principal -->
        <span id="welcomeHeader">Palarya</span>
        
        <!-- Description immersive -->
        <span id="welcomeDescription">
            Bienvenue sur le launcher officiel de <strong>Palarya</strong> ! 🌟
        </span>
        <br>
        
        <!-- Message d’incitation -->
        <span id="welcomeDescCTA">
            Prépare-toi à explorer un monde rempli d’aventures et de mystères. Clique sur continuer pour commencer ! 🚀
        </span>
        
        <!-- Bouton continuer -->
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                <%- lang('welcome.continueButton') %>
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>
